version: '2.2'
services:
  postgres:
    container_name: postgres-for-storage
    hostname: postgres
    image: postgres
    environment:
      POSTGRES_USER: pgsa
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: storage
    ports:
      - "5432:5432"
    command: ["postgres", "-c", "log_statement=all"]
    volumes:
      - db-data:/var/lib/postgresql
    restart: always

volumes:
    db-data:
        driver: local
